/*::::::::::::::::::::::
:::::::::LAYOUT:::::::::
::::::::::::::::::::::*/

/* -----------------------------------------------
  # Button
----------------------------------------------- */
.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius:6px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.btn-primary {
  color: #fff;
  background-color: #F05F40;
  border-color: #F05F40;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active {
  color: #fff;
  background-color: #ee4b28 !important;
}
.btn-primary:active, 
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.btn-light {
  color: #337ab7;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover, 
.btn-light:focus, 
.btn-light:active {
  color: #337ab7;
  background-color: lightgray !important;
}
.btn-light:active, 
.btn-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}
.btn-xl {padding: 1rem 2rem;}

/* -----------------------------------------------
  # Faico
----------------------------------------------- */
.faico{
  margin:0; 
  padding:0; 
  list-style:none;
}
.faico li{
  display:inline-block; 
  margin:0 2px 0 0; 
  padding:0; 
  line-height:normal;
}
.faico li:last-child{margin-right:0;}

.faico a{
  display:inline-block;
  width:30px; 
  height:30px; 
  line-height:30px; 
  font-size:14px; 
  text-align:center;
}
.faico a{
  color:inherit; 
  background-color:transparent;
}

.faicon-dribble:hover{color:#EA4C89;}
.faicon-facebook:hover{color:#3B5998;}
.faicon-google-plus:hover{color:#DB4A39;}
.faicon-linkedin:hover{color:#0E76A8;}
.faicon-pinterest:hover{color:#C8232C;}
.faicon-rss:hover{color:#EE802F;}
.faicon-twitter:hover{color:#00ACEE;}

/* -----------------------------------------------
  # Container filter with background image
----------------------------------------------- */
.overlay{position:relative; z-index:1;}
.overlay::after{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    content:"";
    z-index:-1;
}

/* ==============================================
# MEDIAQUERIES
============================================== */
/* -----------------------------------------------
  # Desk / Tablets-H : Max width 1024px
----------------------------------------------- */
@media screen and (max-width:1024px){}
/* -----------------------------------------------
  # Tablets-V / Mobile-H: Max width 768px
----------------------------------------------- */
@media screen and (max-width:768px){}
/* -----------------------------------------------
  # Mobile-V: Max width 480px
----------------------------------------------- */
@media screen and (max-width:480px){}