/* Carousel swiper
----------------------------------------------- */
.swiper-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.swiper-slide img {width: 100%;}

/*Controls*/
.swiper-container .swiper-pagination{bottom: -25px!important;}
.swiper-pagination-bullet-active {background-color: #FF2B52;}
.swiper-pagination-bullet {
    width: 12px; 
    height: 12px;
    /*background: #000;*/
}
/*Cuando la tarjeta se encuentra dentro del swiper*/
.swiper-slide .card-overlay-gradient .card-body {width: 95%;}